
div.game-row {
	height: 80px;
	margin: 0 auto;

}

.col-md-4 {
	height: 80px;
}

.X:before {
	color: blue;
	content: "X";
	font-size: 50px;
}

.O:before {
	color: red;
	content: "O";
	font-size: 50px;
}

#t1 {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

#t2 {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

#t3 {
	border-bottom: 2px solid black;
}

#t4 {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

#t5 {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

#t6 {
	border-bottom: 2px solid black;
}

#t7 {
	border-right: 2px solid black;
}

#t8 {
	border-right: 2px solid black;
}

#t9 {

}